<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cart </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="cart.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
	.cart-page {
		margin: 80px auto;
	}

	table {
		width: 100%;
		border-collapse: collapse;
	}

	.cart-info {
		display: flex;
		flex-wrap: wrap;
	}

	th {
		text-align: left;
		padding: 5px;
		color: #fff;
		background: #3f3c3b;
		font-weight: normal;
	}

	td {
		padding: 10px 5px;
	}

	td input {
		width: 40px;
		height: 30px;
		padding: 5px;
	}

	td a {
		color: #ff523b;
		font-size: 12px;
	}

	td img {
		width: 80px;
		height: 80px;
		margin-right: 10px;

	}

	.total-price {
		display: flex;
		justify-content: flex-end;

	}

	.table-price table {
		border-top: 3px solid #ff523b;
		width: 100%;
		max-width: 400px;
	}

	td:last-child {
		text-align: right;
	}

	th:last-child {
		text-align: right;
	}

	.checkout a {
		text-decoration: none;
		color: white !important;
		text-transform: capitalize;
		background-color: #252225;
		padding: 12px 26px;
		font-style: 14px;
		font-weight: 500;
		border: 1px solid transparent;

	}

	/* .checkout a:hover {
		background: linear-gradient(to bottom, #615cfd 0%, #d465ef 100%);

	} */

	.checkout {
		margin-left: 48%;
	}



	#MenuItems a {
		text-decoration: none;
		color: #d465ef;
		text-decoration: none;
		font-size: 2.2rem;
		text-transform: uppercase;


	}

	h1 {
		color: #d465ef;
	}

	a {
		cursor: pointer;
	}
</style>

<body>
	<nav class="navbar navbar-light bg-dark">
		<a class="navbar-brand text-light" href="/products">My Shop</a>
		<a class="navbar-brand text-light" href="/cart">Cart</a>
	</nav>
	<div class="container">
	<!--cart items-->
	<div class="small-container cart-page">
		<table>
			<tr>
				<th>Product</th>
				<th>Quanity</th>
				<th>Subtotal</th>
			</tr>
			<% for(let i=0;i<orders.length;i++) { %>
			<tr>
				<td>
					<div class="cart-info">
						<img src=<%= orders[i].productURL %>>
						<div>
							<p><%= orders[i].productName %></p>
							<small><%= orders[i].productPrice %></small>
							<br>
							<a id=<%= orders[i].productId %> onclick="removeItem(this)">Remove</a>
						</div>
					</div>
				</td>
				<td><input id=<%=orders[i].productId %> type="number" name="1" value=<%= orders[i].quantity %>
						onkeydown="return false" onchange="updateQuantity(this)" min="1"></td>
				<td><%= (orders[i].productPrice * orders[i].quantity).toFixed(2) %></td>
			</tr>
			<% } %>
		</table>

		<div class="total-price">
			<table>
				<tr>
					<td>Subtotal</td>
					<td><%= subtotal.toFixed(2) %></td>
				</tr>
				<tr>
					<td>Tax</td>
					<td><%= tax.toFixed(2) %></td>
				</tr>
				<tr>
					<td>GrandTotal</td>
					<td><%= grandtotal.toFixed(2) %></td>
				</tr>

			</table>
		</div>
		</div>
	</div>
	<div class="checkout">
		<a onclick="checkout()">Checkout</a>
	</div>

	<script>
		function removeItem(event) {
			let obj = {
				id: event.id
			}
			fetch('http://localhost:8080/cart', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(obj)
			}).then(response => {
				console.log(response);
				if (response.redirected)
					window.location.href = response.url;
			}).catch(err => {
				console.log(err);
			})
		}

		function updateQuantity(event) {
			let obj = {
				id: event.id,
				quantity: event.value
			}
			fetch('http://localhost:8080/updateCart', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(obj)
			}).then(response => {
				console.log(response);
				if (response.redirected)
					window.location.href = response.url;
			}).catch(err => {
				console.log(err);
			})
		}

		function checkout(){
			fetch('http://localhost:8080/checkout', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
			}).then(response => {
				console.log(response);
				if (response.redirected)
					window.location.href = response.url;
			}).catch(err => {
				console.log(err);
			})
		}
	</script>
</body>

</html>